@font-face {
  font-family: 衡山毛筆フォント;
  src: url("./assets/衡山毛筆フォント.ttf");
}
:root {
  --brand-color: #e4c494;
  --border-color: #cca873;
}

body {
  background-color: #f2f2f2;
  font-family: "衡山毛筆フォント";
  /* font-family: "Helvetica", sans-serif; */
  margin: 0px;
}

h1 {
  font-size: 8vw;
  text-shadow: #fff 0 0 0.24rem, #fff 0 0 0.24rem, #fff 0 0 0.24rem,
    #fff 0 0 0.24rem, #fff 0 0 0.24rem;
}

h2 {
  font-size: 4vw;
}
h3 {
  font-size: 3vw;
}

#bg {
  height: 100%;
  width: 100%;
  background-image: url(./assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* select game */
.chooseGame {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  margin: 0;
  text-align: center;
}

.inGame {
  margin: 0 0 0 4vmin;
  width: max-content;
  height: 100%;
  writing-mode: vertical-lr;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 2px solid var(--brand-color);
  transition-duration: 0.4s;
  background-color: #fcf5e4;
  font-size: 3vw;
  padding: 1vmin 2vmin;
  font-family: "衡山毛筆フォント";
}

button:hover {
  background-color: var(--brand-color);
  border-color: var(--border-color);
  color: white;
}

.selectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin: 2vh 16vw;
}

#backBtn {
  position: absolute;
  top: 0;
  left: 0;
}

/* rhymes game */
.highlight {
  color: red;
  text-decoration: underline;
  text-shadow: #fff 0 0 0.24rem, #fff 0 0 0.24rem, #fff 0 0 0.24rem,
    #fff 0 0 0.24rem, #fff 0 0 0.24rem;
}
#trackContainer {
  display: flex;
  height: 100%;
  padding: 0px 4vw;
  justify-content: center;
}

.rhymesTrack {
  background-color: rgba(207, 170, 118, 0.4);
  border-left: 2px solid var(--border-color);
  height: 100%;
  flex: 1;
  position: relative;
}

.note {
  font-size: 5vw;
  padding: 1vw;
  position: absolute;
  left: calc(50% - 2.5vw);
  bottom: -7vw;
  animation: moveDown 3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 233, 233);
  border-radius: 50%;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes moveDown {
  0% {
    transform: translateY(calc(-100vh + 8vh));
  }
}

#banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-shadow: none;
  pointer-events: none;
}

/* puzzle game */
#puzzle-container {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#puzzle-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#slot-container {
  display: grid;
  width: auto;
  min-height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.puzzle-piece {
  height: calc(100% / 5);
  aspect-ratio: 1;
  margin: 0 1cqmin 1cqmin 1cqmin;
}

.puzzle-slot {
  width: auto;
  aspect-ratio: 1;
  background-color: #fff;
  border: 1px solid grey;
}

#scroll-bar {
  background-color: grey;
  width: 8px;
  position: absolute;
  left: 0;
  border-radius: 4px;
}

/* matching */

.card {
  width: 20cqmin;
  aspect-ratio: 0.8;
  border: 2px solid var(--border-color);
  display: inline-block;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 1cqmin;
}

.matched {
  border: 4px solid var(--border-color);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.card {
  perspective: 1000px;
  transition: transform 0.5s;
  background-color: var(--brand-color);
  position: absolute;
  backface-visibility: hidden;

  align-content: center;
  font-size: 3.5cqw;
  white-space: pre-line;
}

.back {
  background-color: var(--border-color);
}

.flip {
  transform: rotateY(180deg);
}

/* matching */
.connectSelection {
  height: calc((100% - 5cqmin) / 6);
  margin-bottom: 1cqmin;

  width: 100%;
  border: 2px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 8px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.connectSelection:hover {
  background-color: #fbff0071;
}

.connectColumn {
  width: 40%;
  height: 100%;
}
