@font-face {
  font-family: 衡山毛筆フォント;
  src: url("./assets/衡山毛筆フォント.ttf");
}
:root {
  --brand-color: #e4c494;
}

body {
  background-color: #f2f2f2;
  font-family: "衡山毛筆フォント";
  /* font-family: "Helvetica", sans-serif; */
  margin: 0px;
}

h1 {
  font-size: 8vw;
  text-shadow: #fff 0 0 0.24rem, #fff 0 0 0.24rem, #fff 0 0 0.24rem,
    #fff 0 0 0.24rem, #fff 0 0 0.24rem;
}

#bg {
  height: 100%;
  width: 100%;
  background-image: url(./assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chooseGame {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  margin: 0;
  text-align: center;
}

.inGame {
  margin: 0 0 0 4vmin;
  width: max-content;
  height: 100%;
  writing-mode: vertical-lr;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 2px solid var(--brand-color);
  transition-duration: 0.4s;
  background-color: #fcf5e4;
  font-size: 3vw;
  padding: 1vmin 2vmin;
  font-family: "衡山毛筆フォント";
}

button:hover {
  background-color: var(--brand-color);
  border-color: #cca873;
  color: white;
}

.selectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin: 2vh 16vw;
}

#backBtn {
  position: absolute;
  top: 0;
  left: 0;
}

#rhymesContainer {
  display: flex;
  height: 100%;
  padding: 0px 4vw;
  justify-content: center;
}

.rhymesTrack {
  background-color: rgba(180, 146, 96, 0.4);
  border: 1px solid black;
  height: 100%;
  flex: 1;
  position: relative;
}

.note {
  font-size: 6cqmin;
  height: 6cqmin;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: moveDown 3s linear infinite;
}

@keyframes moveDown {
  0% {
    transform: translateY(calc(-100vh + 6cqmin));
  }
}
