<script>
  for (let btnId = 1; btnId < gameData.titles.length; btnId++) {
    let title = gameData.titles[btnId].split("(");
    document.getElementById("selectGame" + btnId).innerHTML =
      title[0] + '<span style="font-size: 2.3vw">(' + title[1] + "</span>";
  }
  delete btnId;
  function cleanup() {
    console.log("gameSelection closed");
  }
</script>

<div style="height: 100%; align-content: center; padding-top: 88px">
  <div class="selectionContainer">
    <button onclick="setGame(1)" id="selectGame1">遊戲 1</button>
    <button onclick="setGame(2)" id="selectGame2">遊戲 2</button>
    <button onclick="setGame(3)" id="selectGame3">遊戲 3</button>
  </div>
  <div class="selectionContainer">
    <button onclick="setGame(4)" id="selectGame4">遊戲 4</button>
    <button onclick="setGame(5)" id="selectGame5">遊戲 5</button>
    <button onclick="setGame(6)" id="selectGame6">遊戲 6</button>
  </div>
</div>
