<div id="game-board"></div>
<script>
  cards = [
    { type: "image", value: "../assets/matching1.png", match: 1 },
    { type: "image", value: "../assets/matching2.png", match: 2 },
    { type: "image", value: "../assets/matching3.png", match: 3 },
    { type: "image", value: "../assets/matching4.png", match: 4 },
    { type: "text", value: "胡旋舞", match: 1 },
    { type: "text", value: "快速、\r\n不斷旋轉", match: 1 },
    { type: "text", value: "胡騰舞", match: 2 },
    { type: "text", value: "跳躍騰踏、\r\n怠促多變", match: 2 },
    { type: "text", value: "綠腰", match: 3 },
    { type: "text", value: "身著衣襟\r\n修長的舞衣", match: 3 },
    { type: "text", value: "柘枝舞", match: 4 },
    { type: "text", value: "用蠻鼓引舞", match: 4 },
  ];

  gameBoard = document.getElementById("game-board");
  cards.forEach((card, cardIndex) => {
    cardFront = document.createElement("div");

    cardFront.classList.add("card");
    cardFront.classList.add("flip");

    cardLeft = "calc(50% + " + ((cardIndex % 4) - 2) * 25 + "cqmin)";
    cardTop = "calc(50% + " + (Math.floor(cardIndex / 4) - 1.5) * 30 + "cqmin)";

    cardFront.id = "front-" + cardIndex;
    cardFront.style.left = cardLeft;
    cardFront.style.top = cardTop;

    if (card.type === "image") {
      cardImage = document.createElement("div");

      cardImage.style.backgroundImage = "url(" + card.value + ")";
      cardImage.style.backgroundSize = "contain";
      cardImage.style.backgroundRepeat = "no-repeat";
      cardImage.style.backgroundPosition = "center";
      cardImage.style.filter =
        "hue-rotate(" + -Math.round((4 / 7) * 360) + "deg)";
      cardImage.style.height = "100%";

      cardFront.appendChild(cardImage);
    } else {
      cardFront.textContent = card.value;
    }
    gameBoard.appendChild(cardFront);

    cardBack = document.createElement("div");
    cardBack.style.left = cardLeft;
    cardBack.style.top = cardTop;
    cardBack.id = "back-" + cardIndex;

    cardBack.setAttribute("data-match", card.match);

    cardBack.classList.add("card");
    cardBack.classList.add("back");

    gameBoard.appendChild(cardBack);
  });

  selectedCards = [];
  count = 0;
  flipCount = 0;
  cardsToMatch = 3;

  cards = Array.from(document.getElementsByClassName("back"));
  cards.forEach((card) => {
    card.onclick = () => handleClick(card);
  });

  function handleClick(card) {
    if (selectedCards.length < 3) {
      flipCount++;
      card.classList.add("flip");
      document
        .getElementById("front-" + card.id.split("-")[1])
        .classList.remove("flip");

      if (
        selectedCards.length < cardsToMatch &&
        // !matchedCards.includes(card) &&
        !selectedCards.includes(card)
      ) {
        selectedCards.push(card);

        if (selectedCards.length === cardsToMatch) {
          setTimeout(function () {
            checkMatch();
          }, 1000);
        }
      }
    }
  }

  // Check if the selected cards match
  function checkMatch() {
    match = true;
    firstCard = selectedCards[0];

    selectedCards.forEach((card) => {
      if (
        card.getAttribute("data-match") !== firstCard.getAttribute("data-match")
      )
        match = false;
    });

    if (match) {
      selectedCards.forEach((card) => {
        document
          .getElementById("front-" + card.id.split("-")[1])
          .classList.add("matched");
      });
    } else {
      selectedCards.forEach((card) => {
        card.classList.remove("flip");
        document
          .getElementById("front-" + card.id.split("-")[1])
          .classList.add("flip");
        card.classList.add("back");
      });
    }

    count += cardsToMatch;
    selectedCards = [];

    if (count === cards.length) {
      banner = document.createElement("h1");
      banner.innerHTML = "你贏了!";
      banner.id = "banner";

      parent.sendData({ type: "matching", flips: flipCount });
      document.getElementById("game-board").appendChild(banner);
    }
  }
</script>
